attrs==22.1.0
autobahn==22.7.1
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
Django==4.1.2
django-allauth==0.51.0
django-case-insensitive-field==1.0.7
django-cors-headers==3.13.0
django-filter==23.3
django-rest-auth==0.9.5
django-soft-delete==0.9.21
django-softdelete==0.9.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.2
drf-yasg==1.21.7
joblib==1.2.0
jsonschema==4.17.3
kaggle==1.6.4
keras==3.2.1
keras-nightly==3.0.4.dev2024020303
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
matplotlib==3.8.2
mdurl==0.1.2
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.4
mysqlclient==2.1.1
namex==0.0.7
netifaces==0.11.0
numpy==1.26.3
pandas==2.0.0
psutil==5.9.8
psycopg2==2.9.6
psycopg2-binary==2.9.5
ptyprocess==0.7.0
rsa==4.9
sacrebleu==2.4.0
scikit-learn==1.2.2
tb-nightly==2.16.0a20240202
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.35.0
tensorflow-metadata==1.14.0
tensorflow-model-optimization==0.7.5
tensorflow-text==2.15.0
termcolor==2.4.0
text-unidecode==1.3
tf-keras==2.15.0
tf-models-official==2.15.0
tf-nightly==2.16.0.dev20240202
tf-slim==1.1.0
tf_keras-nightly==2.16.0.dev2024020210
threadpoolctl==3.1.0
whitenoise==6.2.0
wordcloud==1.9.3

